<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "com.geopeers.local"
        versionCode = "1" 
        version     = "0.9.0" >
  <name>
    Local Asset Example
  </name>

  <description>
    Local Asset Example
  </description>

  <author href="https://www.geopeers.com" email="support@geopeers.com">
    Scott Kaplan
  </author>

  <access origin="*" />

</widget>
